The software shall be a command-line interface tool
The software shall allow the user to create a new note
The software shall allow the user to summarize a written note
The software shall allow the user to append to a written note
The software shall allow the user to display a written note
The software shall confirm the user’s selected action
The software shall perform input validation for all actions
The software shall confirm that the user wishes to delete a chosen note

Encryption:
	The software shall encrypt a user’s written note prior to saving
	The software shall decrypt a user’s saved note prior to displaying

ML:
	The software shall allow a user to summarize a chosen note
	The software shall perform keyword analysis on the note
